/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-sansheading: "Open Sans", Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sansheading);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 17px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  --lineHeight-bkpara: 1.8;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-text: #353535;
  --color-text-light: #4f5969;
  --color-heading: #353535;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-normal);
  color: var(--color-text);
}
footer {
  padding: var(--spacing-6) var(--spacing-0);
}
hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-4);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}
h2, h3, h4, h5, h6 {
  font-weight: var(--fontWeight-medium);
  color: var(--color-heading);
}
h1 {
  font-weight: var(--fontWeight-medium);
  font-size: var(--fontSize-5);
}
h2 {
  font-size: var(--fontSize-4);
}
h3 {
  font-size: var(--fontSize-3);
}
h4 {
  font-size: var(--fontSize-2);
}
h5 {
  font-size: var(--fontSize-2);
}
h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-bkpara);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-5) var(--spacing-0);
  padding: var(--spacing-0);
  letter-spacing: 0.003em;
}

ul,
ol {
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-6) / 2);
}

ul ul,
ul ol,
ol ul,
ol ol {
  padding-top: var(--spacing-4);
}

li > p {
  display: inline-block;
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid #C1965F;
  font-size: var(--fontSize-1);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: auto;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}
table thead tr th {
  border-bottom: 1px solid var(--color-accent);
  text-align: left;
}
table th, table td {
  padding: 0.5rem 0.7rem 0.625rem;
  border: 1px solid #CECECE;
  border-left: none;
  border-right: none;
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

/*************************/
/* Bala */
/*************************/

.site-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.3);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Content */
.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.main-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
}
.main-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}
.content-inner {
	padding: 0 30px;
	margin: 50px 0 0;
}

/* Header */
.site-header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #0071A6;
}
.header-cont {
	margin: 0;
}
.header-logo {
	margin: 50px 0 0 45px;
}
.site-title {
	text-indent: -5000px;
	height: 128px;
	background: transparent url(../images/logo-bala-blog.png) no-repeat 0 0;
}

/* Left Main navigation */
.left-nav {
  font-family: var(--fontFamily-sans);
	margin: 70px 0 0 60px;
}
.left-nav a, .left-nav a:visited, .leftnav-link {
	display: block;
	font-size: 1.2rem;
  font-weight: 400;
	color: #f0f0f0;
	margin-bottom: 12px;
	outline: 0 !important;
	border: none !important;
  text-decoration: none;
}
.left-nav a:hover, .left-nav a:active, .leftnav-link:hover {
	border: none !important;
	outline: 0 !important;
	color: #BCE8FD;
}
.leftnav-link {
  cursor: pointer;
}

/* Footer */
.bk-footer {
	position: absolute;
	bottom: 25px;
	left: 25px;
	font-size: 14px;
	color: #FFE2D8;
}
.bk-footer a,
.bk-footer a:hover,
.bk-footer a:visited {
	color: #98DFFF;
  text-decoration: none;
}
.bk-footer a:hover {
  color: #FFC7B4;
}
.footer-link {
  display: block;
  margin: 5px 2px 0 0;
  padding-left: 18px;
  background: transparent url(../images/clenched-fist-16.png) no-repeat 0 0;
}
.footer-link a {
  margin-left: 3px;
}

/* Home page */
.blog-home-list li {
  margin-bottom: 2.3rem;
}
.post-list-item h2 {
  color: #555555;
  font-weight: 500;
}
.post-list-item small {
  color: #dba605;
  font-size: 90%;
  font-weight: 500;
}

/* Blog details page and content */
.blog-post header > h1 {
  font-weight: var(--fontWeight-medium);
  font-size: var(--fontSize-6);
}
.blog-post header > p {
  color: #dba605;
  font-size: var(--fontSize-1);
  font-weight: 600;
}
.gatsby-resp-image-wrapper {
  margin-left: 0 !important;
  text-align: left;
}
.blog-post section ul {
  margin-top: -10px;
}

/* tag cloud */
.tagcloud-wrapper {
	display: none;
	z-index: 999;
	position: fixed;
	width: 500px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 20px 10px 20px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
}
.tagcloud-close {
	position: absolute;
	top: -13px;
	right: 7px;
	font-size: 35px;
	color: #c30;
	cursor: pointer;
}
.tagcloud-cont .tag-cloud-tag {
  cursor: pointer;
}

/* Tag: template */
.tags-main header > h1 {
  font-weight: var(--fontWeight-semibold);
  font-size: var(--fontSize-6);
}
.tags-main header span {
  color: #dba605;
}

/* Social Links */
.social-cont {
	margin: 10px 0 0 64px;
}
.social-cont span {
	display: inline-block;
	width: 1px;
	height: 22px;
	border-right: 1px solid #f0f0f0;
	margin: 0 8px 0 8px;
	vertical-align: top;
	margin-top: 6px;
}
.bk-social-icon {
	display: inline-block;
	width: 30px;
	height: 26px;
	vertical-align: top;
  text-decoration: none;
}
.bk-social-icon:hover {
	text-decoration: none;
	outline: 0;
	border: none;
}
.social-cont .github-icon {
	background: transparent url(../images/github-icon.png) no-repeat 0 0;
	margin-top: 3px;
}
.social-cont .linkedin-icon {
	background: transparent url(../images/linkedin-icon.png) no-repeat 0 0;
}